.main{
    height: 7050px;
    padding: 0;
    margin: 40px 0;
    .main__box-1{
        height: 1350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main__descripton-1{
            display: flex;
            justify-content: space-between;
            .main__text{
                display: flex;
                flex-direction: column;
                span{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 23px;
                    line-height: 26px;
                    /* identical to box height */
                    
                    margin: 10px 0;
                    
                    color: #593F0D;
                    
                }
                hr{
                    width: 100px;
                    height: 0px;
                    border-radius: 5px;
                    border: 3px solid #ffd900;
                }

                h1{
                    display: inline-flex;                    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 51px;
                    /* identical to box height */
                    
                    text-align: center;
                    
                    color: #92640f;
                    b{
                        font-weight: normal;
                        color: #faa80f;
                        margin-left: 15px;
                    }                    
                }

                a{
                    display: inline-flex;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 25px;
                    text-align: center;
                    text-decoration-line: underline;
                    
                    color: #593F0D;
                    
                      
                }
            }
        }
        .main__descripton-2{
            text-align: center;
            h1{
                display: inline-flex;                    
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 51px;
                /* identical to box height */
                
                text-align: center;
                
                color: #92640f;
                b{
                    font-weight: normal;
                    color: #faa80f;
                    margin-left: 15px;
                }                    
            }
            .main__rows{
                display: flex;
                flex-wrap: wrap;
                margin: 20px 0;
                .main__row{
                    margin: 5px 15px;
                    padding: 0 20px;
                    align-items: center;
                    display: flex ;
                    text-align: left;
                    width: 540px;
                    height: 170px;
                    background: #F9F9F9;
                    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 10px;
                    div{
                        margin-right: 20px;
                        height: 100px;
                        width: 100px;
                        border-radius: 45%;
                        background-color: #ffcc6c00;
                        img{
                            width: 100px;

                        }
                    }

                    span{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 26px;
                        color: #593F0D;

                    }
                }
            }
            button{
                width: 320px;
                height: 78px;
                background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
                box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);

                border-radius: 10px;
                border: none;

                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                text-decoration-line: underline;
                text-transform: uppercase;

                color: #593F0D;


            }
        }
    }
    .main__box-2{
        height: 1476px;        
        background: #FFFFFF;

        .main__form{
            background-size: cover;
            background-image: url('../image/background-form.png');
            height: 580px; 
            justify-content: center;
            display: flex;
            padding: 100px 100px;
            .main__text{
                margin: 0 15px;
                h1{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 34px;

                    color: #593F0D;

                    b{
                        font-weight: normal;
                        color: #ffa807;

                    }
                }

                span{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 25px;
                    
                    color: #593F0D;
                    
                }

                ul{
                    margin: 0;
                    padding: 0;
                }

                li{
                    font-size: 20px;
                    color: #FFC858;
                }

                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 25px;
                    
                    color: #593F0D;
                    text-decoration: none;
                }
            }
            form{
                margin: 0 15px;
                width: 400px;
                height: 426px;
                border-radius: 10px;
                background: #FFFFFF;
                padding: 20px;
                h1{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 32px;
                    /* identical to box height */


                    color: #593F0D;


                }

                p{
                    margin: 0 0 40px 0;
                    padding: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 19px;

                    color: #373737;

                }

                label{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 19px;
                    
                    color: #A8A8A8;
                    display: flex;
                }

                input{
                    margin: 15px 0;
                    width: 317px;
                    height: 30px;
                    border: none;
                    border-bottom: 1px solid #D9D9D9;
                
                }

                button{
                    width: 320px;
                    height: 78px;
                    border: none;                    
                    background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
                    box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 23px;
                    /* identical to box height, or 192% */
                    
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    
                    color: #835D13;
                    border-radius: 10px;                    
                }
            }
        }
        .main__slide{
            margin: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 51px;
                text-align: center;

                color: #593F0D;
                b{
                    color: #ffa600;

                }
            }
            .main__rows{
                padding: 0 120px;
                display: flex;
                .main__row{
                    margin: 50px 20px;
                    text-align: left;
                    width: 320px;
                    height: 580px;
                    background: #F9F9F9;
                    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 10px;
                    padding: 20px;
                    .main__banner{
                        margin: 0 0 20px 0;
                    }
                    .main__text{
                        h1{
                            text-align: left;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 23px;
                            line-height: 26px;
                            
                            color: #593F0D;
                            
                        }
                        span{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            
                            color: #593F0D;
                            
                            
                        }
                        button{
                            width: 280px;
                            height: 68.25px;

                            background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
                            box-shadow: inset 0px 1.75px 13.125px rgba(255, 255, 255, 0.41), inset 16.625px 0px 21.875px rgba(255, 255, 255, 0.11);
                            border-radius: 10px;

                            border: none;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10.5px;
                            line-height: 20px;
                            /* identical to box height, or 192% */

                            text-align: center;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;

                            color: #835D13;

                        }
                    }
                }

            }

        }

    }
    .main__box-3{
        height: 900px;
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main__portner{
            
            text-align: center;
            h1{
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 51px;
                /* identical to box height */

                text-align: center;

                color: #593F0D;

            }
            .main__rows{
                display: flex;
                flex-wrap: wrap;
                margin: 50px 0;
                .main__row{
                    margin: 5px 15px;
                    padding: 0 20px;
                    align-items: center;
                    display: flex ;
                    text-align: left;
                    width: 540px;
                    height: 170px;
                    background: #F9F9F9;
                    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 10px;
                    div{
                        margin-right: 20px;
                        height: 100px;
                        width: 100px;
                        border-radius: 45%;
                        background-color: #ffcc6c;
                        img{
                            width: 100px;

                        }
                    }

                    span{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 26px;
                        color: #593F0D;

                    }
                }
            }
            button{
                width: 320px;
                height: 78px;
                background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
                box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);

                border-radius: 10px;
                border: none;

                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 23px;
                /* identical to box height, or 192% */
                
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                
                color: #835D13;
                


            }
        }
    }
    .main__box-4{
        height: 700px;
        padding: 0 100px;
        .main__portfolio{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 51px;
                /* identical to box height */
                
                text-align: center;
                
                color: #593F0D;
                
            }

            .main__rows{
                display: flex;
                align-items: center;
                .main__row{
                    margin: 30px 15px;
                    padding: 30px;
                    width: 320px;
                    height: 321px;
                    background: #F9F9F9;
                    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 10px;

                    h1{
                        text-align: left;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 26px;
                        
                        color: #593F0D;
                        margin-bottom: 15px;
                        
                    }
                    
                    .main__image{
                        width: 274px;
                        height: 192px;
                        left: 200px;
                        top: 280px;

                        border-radius: 10px;
                        img{

                        }
                    }
                }
            }

            button{
                margin-top: 50px;
                width: 320px;
                height: 78px;
                background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
                box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);

                border-radius: 10px;
                border: none;

                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 23px;
                /* identical to box height, or 192% */
                
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                
                color: #835D13;
                


            }
        }
    }
    .main__box-5{
        padding: 0 250px;
        height: 1000px;
        text-align: center;
        h1{
            b{
                color: #ffa600;
                font-weight: 400;
            }
        }
        button{
            width: 320px;
            height: 78px;

            background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
            box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);

            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 23px;
            /* identical to box height, or 192% */
            border-radius: 10px;
            border: none;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            color: #835D13;
            margin-top: 30px;

        }
        .main__sage{
            text-align: center;
            display: flex;
            justify-content: center;
            margin-right: 315px;
            .main__timer{

                display: flex;
                flex-direction: column;

                .main__time{
                    margin: 20px 0;
                    padding: 20px;
                    text-align: center;
                    width: 74px;
                    height: 74px;
                    border-radius: 50%;
                    background: #FBD293;
                    border-radius: 100px;
                    span{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 34px;
                        /* identical to box height */
                        
                        text-align: center;
                        
                        color: #593F0D;
                        
                    }
                }
            }
            .main__text{
                margin-left: 20px;
                display: flex;
                flex-direction: column;


                .main__texter{
                    margin: 15px 0;
                    text-align: left;                    
                    h1{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 26px;
                        /* identical to box height */
                        
                        
                        color: #593F0D;
                    }
                    span{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 19px;
                        line-height: 24px;
    
                        color: #593F0D;
    
    
                    }
                }

            }
        }
    }
    .main__box-6{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main__panner{
            h1{
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 51px;
                
                color: #593F0D;
                b{
                    font-weight: 400;
                    color: #ffa600;
                }            
            }
            span{
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 32px;
                /* identical to box height */
                                
                color: #593F0D;
                
            }
            .main__group{
                display: flex;
                flex-direction: column;
                margin-top: 50px;
                img{

                }
            }
        }

    }
    .main__box-7{
        margin: 120px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 51px;
            /* identical to box height */

            text-align: center;

            color: #593F0D;
            margin: 20px 0;

        }
        .main__recomend{
            .main__logo{
                img{
                    margin-bottom: 15px;
                }
            }
            .main__text{
                h4{
                    margin-bottom: 15px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 26px;
                    /* identical to box height */
                    
                    text-align: center;
                    
                    color: #593F0D;
                    
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                span{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 24px;
                    text-align: center;

                    color: #593F0D;

                }
            }
        }
    }
    .main__box-8{
        display: flex;
        flex-direction: column;
        height: 698px;
        align-items: center;
        h1{
            margin-bottom: 50px;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 45px;
            text-align: center;

            color: #593F0D;
        }
        .main__help{
            div{
                padding: 15px 5px;
                display: flex;
                width: 750px;
                height: 70px; 
                border-top: 1px solid #bebdba;
                // border-bottom: 1px solid #bebdba;
                justify-content: space-between;
                span{
                    display: flex;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 32px;
                    /* identical to box height */


                    color: #593F0D;

                }
                img{
                    margin: 10px;
                    display: flex;
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}